<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>386803557530-7s0cadall6c5k827echkvsid5g3bg61a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386803557530-7s0cadall6c5k827echkvsid5g3bg61a</string>
	<key>API_KEY</key>
	<string>AIzaSyA-dYlsHTtMI7W9RTB_A6CHZ0wShHB_xk8</string>
	<key>GCM_SENDER_ID</key>
	<string>386803557530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.com.ArticleSystem</string>
	<key>PROJECT_ID</key>
	<string>articlesystem-f7f89</string>
	<key>STORAGE_BUCKET</key>
	<string>articlesystem-f7f89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386803557530:ios:33610f4010e89b2e</string>
	<key>DATABASE_URL</key>
	<string>https://articlesystem-f7f89.firebaseio.com</string>
</dict>
</plist>